@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.aboutme-section {
	padding-right: 0;
	padding-left: 0;

	> svg {
		height: 12vh;
		width: 100%;
		
		path {stroke: none;fill: #03dac527;}
	}

	.whoiam {
		background-color: #03dac527;
		color: var(--color-text);

		h4 {margin: 0 auto;}
		
		button {
			margin: 20px auto 35px auto;
			a {color: white;}
		}
	}

	.whaticando {
		background-color: var(--color-container);
		border-radius: 10px;
		color: var(--color-text);
		padding: 30px 10px;

		.label {text-align: center;}
		
		h4 {margin: 30px 0 20px 0;}
		button {
			margin: 0 20px 35px 20px;
			a {color: white;}
		}
		span {float: right;}
	}
}