.buymeacoffee {
	padding: 20px 0;
	text-align:center;
	
	img {
		border-radius: 11px;
		box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
	}
}

.site-footer {
	background-color: var(--color-container);
	color:  var(--color-text);

	.container {
		background-color: var(--color-container);
		background-image: url('../../images/svg/footer.svg');
		background-size: cover;
		text-align: center;
		font-size: 20px;

		.js {
			background-color: #e6c700;
			border-radius: 4px;
			color: black;
			display: inline-block;
			padding: 0 5px;
			transform: rotate(-3deg);
		}
		.love {
			color: rgb(255, 66, 66);
			font-size: 20px;
		}
	}
}

/* Mobile fix for background cover */
@media screen and (min-width: 992px) {.container { padding: 20vw 0 5vw 0; }}
@media screen and (max-width: 991px) {.container { padding: 30vw 0 10vw 0; }}
@media screen and (max-width: 500px) {.container { padding: 40vw 0 10vw 0; }}