.buymeacoffee {
	padding: 20px 0;
	text-align:center;
	
	img {
		height: 50px;
		width: 235px;
	}
}

.site-footer {
	background-color: var(--color-container);
	color:  var(--color-text);

	.container {
		padding: 10px 0 10px 1rem;
		text-align: center;
	}
}