.container {
	background-color: var(--color-container);
	border-radius: 10px;
	box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12);
	margin: 15px;
	padding: 20px;
	width: auto;
	position: relative;

	.s1, .s2, .s3, .s4, .s5, .s6 {
		position: absolute;
		font-weight: 600;
		letter-spacing: 2px;
	}
	.s1, .s4, .s5 { color: var(--color-primary); }
	.s2, .s3, .s6 { color: var(--color-secondary); }
	

	.s1 { left: 20%; top: 25%; transform: rotate(-4deg);}
	.s2 { left: 75%; top: 15%; transform: rotate(4deg);}
	.s3 { left: 25%; top: 60%; transform: rotate(-4deg);}
	.s4 { left: 90%; top: 45%; transform: rotate(-4deg);}
	.s5 { left: 05%; top: 50%; transform: rotate(4deg);}
	.s6 { left: 80%; top: 75%; transform: rotate(4deg);}
}

@media screen and (max-width: 800px) { .s1, .s2, .s3, .s4, .s5, .s6 { display: none; } }