.container {

	h2, h3 {
		margin-top: 60px;
		text-align: center;
	}

	hr { background-color: var(--color-text); border-radius: 5px; height: 2px; width: 60%; } 

	.flipcard {			
		margin: 20px 0;

		.front, .back {
			background-color: var(--color-content);
			border-radius: 8px;
			color: var(--color-text);
			transition-timing-function: cubic-bezier(.175, .885, .32, 1.275);
			transition-duration: .5s;
			transition-property: transform, opacity;
			height: 100%;
			width: 100%;
			padding: 1em 2em;
		}
		
		.front {
			box-shadow: rgba(9, 30, 66, 0.31) 0px 0px 1px 0px, rgba(9, 30, 66, 0.25) 0px 1px 2px 0px;
			transform: rotateY(0deg);

			svg { display: block; margin: 0 auto; }
			
			.colorchange { fill: var(--color-text);}
		}
		.back {
			box-shadow: rgba(9, 30, 66, 0.31) 0px 0px 1px 0px, rgba(9, 30, 66, 0.25) 0px 8px 16px -6px;

			position: absolute;
			top: 0px;
			left: 0px;
			opacity: 0;
			transform: rotateY(-180deg);

			h4 {text-align:center;}
		}

		&:hover {
			.front {
				transform: rotateY(180deg);
				opacity: 0;
			}
			.back {
				opacity: 1;
				transform: rotateY(0deg);
			}
		}
	}
}


